1. All classes and enums will have the first and last line empty.
2. All methods / functions will not have the first and last line empty.
3. All maps will be named: keyValueMap, where key is the type of the key and Value is the type of the value.